{
	"exclude": "node_modules/**",
	"presets": [
		["babel-preset-trigen", {
			"react": true
		}]
	],
	"overrides": [{
		"include": "scripts/**/*",
		"presets": [
			["babel-preset-trigen", {
				"targets": { "node": "current" },
				"commonjs": true
			}]
		]
	}]
}
