{
	"exclude": "node_modules/**",
	"presets": [
		["babel-preset-trigen", {
			"corejs": 2,
			"react": true
		}]
	],
	"env": {
		"test": {
			"presets": [
				["babel-preset-trigen", {
					"targets": { "node": "current" },
					"corejs": 2,
					"commonjs": true,
					"typescript": true,
					"react": true,
					"transformDynamicImport": true
				}]
			]
		}
	}
}
