
:import {
	-st-from: '@flexis/ui/components/Input/Input.st.css';
	-st-default: Input;
}

:vars {
	borderColor: #ced4da;
	backgroundColor: white;
}

Input {
	border-color: value(backgroundColor);
}

Input::input {
	border: none;
	padding-left: 10px;
}

Input::border {
	border: 1px solid value(borderColor);
}
