
:import {
	-st-from: '@flexis/ui/components/Input/Input.st.css';
	-st-default: Input;
}

:vars {
	colorBorder: #ced4da;
	colorBackground: white;
}

Input {
	border-color: value(colorBackground);
}

Input::input {
	border: none;
	padding: 0 10px;
}

Input::border {
	border: 1px solid value(colorBorder);
}
