
:import {
	-st-from: '@flexis/ui/components/Button/Button.st.css';
	-st-default: Button;
}

:vars {
	colorText: white;
	colorBackground: #007bff;
	colorBackgroundHover: #0069d9;
}

Button {
	border: 1px solid transparent;
	border-radius: .25rem;
	border-color: value(colorBackground);
	background-color: value(colorBackground);
	padding: .375rem .75rem;
	line-height: 1.5;
	color: value(colorText);
	font-size: 1rem;
}

Button:hover, Button:focus {
	border-color: value(colorBackgroundHover);
	background-color: value(colorBackgroundHover);
	color: value(colorText);
}
