
:import {
	-st-from: '@flexis/ui/components/Button/Button.st.css';
	-st-default: Button;
}

:vars {
	textColor: white;
	backgroundColor: #007bff;
	backgroundColorHover: #0069d9;
}

Button {
	border: 1px solid transparent;
	border-radius: .25rem;
	border-color: value(backgroundColor);
	background-color: value(backgroundColor);
	padding: .375rem .75rem;
	line-height: 1.5;
	color: value(textColor);
	font-size: 1rem;
}

Button:hover, Button:focus {
	border-color: value(backgroundColorHover);
	background-color: value(backgroundColorHover);
	color: value(textColor);
}
